*{
    padding: 0px;
    margin: 0px;
}
.background{
    background-image: url('background\ img4.jpg');
    opacity: 1;
    width: 100%;
    height: 738px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -122;

}
.heding{
    background-color: rgba(8, 4, 79, 0.844);
    width: 100%;
    height: 6rem;
    text-align: center;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
#head-para{
    font-size: 40px;
    font-weight: 900;
    color: white;
    letter-spacing: 3px;
}
.choses{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.chose{
    height: 225px;
    width: 225px;
}
.chose img{
    opacity: 1;
    border: 5px black solid;
    border-radius: 50%;
}
.chose img:hover{
   opacity: 0.6;
}
#paper img{
    height: 100%;
    width: 100%;
}
#scissor img{
    height: 100%;
    width: 100%;
}
.score-bar{
    width: 100%;
    height: 8rem;
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.my-scor{
    margin-left: 275px;
    font-size: 40px;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

.com-scor{
    margin-right: 220px;
    font-size: 40px;
    font-weight: 900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}
.info-bar{

    width: 100%;
    height: 5rem;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#info{
    font-size: 25px;
    color: rgb(52, 5, 96);
    font-weight: bold;
    display: inline-block;
    background-color: white;
}
.win{
    background-color: rgb(7, 142, 7);
    color: white;
}
.lose{
    background-color: red;
    column-rule: white;
}